/* Set colors for the page */
body{
    background-color: cornflowerblue;
    color: deepskyblue; /* this is the font color*/
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line*/



h1{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}
/* create styles for the h2 tag */
h2{
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}
/* create styles for the h3 tag */
h3{
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
}

/* create styles for the p tag */
p{
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}
img{
    width: 60%;
    display: block;
    margin: 10px auto; 
    /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}